@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'ArtGalleria';
    src: url('../css/fonts/ArtGalleria.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}