@import url(../css/reset.css);
@import url(../css/fonts.css);


body{
    background:black;
    font-size:15px;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x:hidden;
}

.container{
    width:100%;
    max-width:1240px;
    margin:0 auto;
    padding:0 20px;
}

.header{
    background:#0c0c0c;
    height:76px;
    border-bottom:1px solid #2e2e2e;
    position:relative;
    font-family: 'ArtGalleria';
    transition:height 0.5s;
}

.header__logo{
    width:132px;
    height:132px;
    position:absolute;
    top:10px;
    left:calc(50% - 66px);
    z-index:2;
    transition:all 0.5s;
}

.nav{
    color:#fff;
    width:100%;
    height:122px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}

.nav__menu{
    font-size:1.25em;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:calc(50% - 120px);
    padding-top:10px;
    letter-spacing:0.5px;
}

.nav__external{
    display:flex;
    align-items:center;
    gap:20px;
}

.nav__external:before{
    content:'';
    display:inline-block;
    width:1px;
    height:20px;
    background:#fff;
}

.nav__link{
    width:30px;
    height:30px;
}

.nav__link--instagram{
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='%23ffffff' d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z'/></svg>");
    background-size:contain;
    background-repeat: no-repeat;
}

.nav__link--twitter{
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%23ffffff' d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z'/></svg>");
    background-size:contain;
    background-repeat: no-repeat;
}

.nav__link--wallet{
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%23ffffff' d='M448 32c17.7 0 32 14.33 32 32s-14.3 32-32 32H80c-8.84 0-16 7.2-16 16s7.16 16 16 16h368c35.3 0 64 28.7 64 64v224c0 35.3-28.7 64-64 64H64c-35.35 0-64-28.7-64-64V96c0-35.35 28.65-64 64-64h384zm-32 304c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32z'/></svg>");
    background-size:contain;
    background-repeat: no-repeat;
}

.header__mobile__menu{
    display:none;
}

.header__mobile__menu__close{
    display:none;
}

@media (max-width: 1200px){
    .header{
        height:66px;
    }

    .header__logo{
        width:110px;
        height:110px;
    }

    .nav{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100vh;
        background-color:#000;
        z-index:5;
        flex-direction:column;
        justify-content: center;
        padding:3vh 0;
        gap:10px;
        display:none;
    }

    .header__mobile__menu{
        display:block;
        position:absolute;
        right:5%;
        top:25px;
        width:40px;
        height:40px;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='%23ffffff' d='M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z'/></svg>");
        background-repeat: no-repeat;
        background-size:contain;
        cursor:pointer;
    }

    .header__mobile__menu__close{
        display:block;
        width:50px;
        height:50px;
        border:2px solid #fff;
        border-radius:50px;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path fill='%23ffffff' d='M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z'/></svg>");
        background-repeat: no-repeat;
        background-size:35px 35px;
        background-position: center center;
        cursor:pointer;
        position:absolute;
        top:3vh;
    }

    .nav__menu{
        flex-direction:column;
        padding:0;
        gap:10px;
        font-size:2em;
    }

    .nav__external{
        position:absolute;
        bottom:3vh;
    }
    
    .nav__external:before{
        display:none;
    }
}

.main{
    position:relative;
}

.mainSlider__background{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:1000px;
    background-size:cover;
    background-repeat:no-repeat;
    opacity:0.15;
    transition:background 0.5s;
}

.mainSlider{
    position:relative;
    width:100%;
    max-width:1034px;
    margin:80px auto 30px;
}

.mainSlider.swiper-cards{
    text-align:center;
    width:100%;
}

.mainSlider .swiper-slide{
    opacity:0.3;
}

.mainSlider .swiper-slide.swiper-slide-active{
    opacity:1;
}

.mainSlider img{
    width:100%;
}

.mainSlider .swiper-button-next{
    right:-50px;
    color:#fff;
}

.mainSlider .swiper-button-prev{
    left:-50px;
    color:#fff;
}

.mainSlider .swiper-pagination{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    gap:20px;
    left:40px !important; 
    bottom:50px !important;
}

.mainSlider .swiper-pagination-bullet{
    width:12px;
    height:12px;
    background:#fff;
    border:2px solid #fff;
    opacity:1;
}

.mainSlider .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background:#000;
}

@media (max-width: 1200px){
    .mainSlider__background{
        display:none;
    }
}

.AIM__section{
    padding:20vh 0 0;
    color:#fff;
    overflow-x:hidden;
}

.AIM__title{
    text-align:center;
    font-size:4.5em;
    font-weight:300;
    font-family: 'ArtGalleria';
    line-height:1;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.AIM__title:after{
    content:'';
    display:inline-block;
    width:73px;
    height:11px;
    border-radius:50px;
    background:#6f6f6f;
    margin:60px 0;
}

.AIM__title > span{
    font-size:1.5vw;
    margin-top:15px;
}

.about-AIM__description{
    display:flex;
    justify-content:center;
    gap:80px;
}

.about-AIM__v{
    display:flex;
    flex-direction:column;
    align-items:center;
    max-width:420px;
}

.about-AIM__BAYC__logo{
    width:100%;
    margin-bottom:20px;
}

.about-AIM__nft{
    background:#151515;
    border:3px solid #262626;
    border-radius:20px;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.about-AIM__nft__img{
    width:100%;
}

.about-AIM__nft__name{
    font-size:1.45em;
    padding:30px;
}

.about-AIM__t{
    word-break:keep-all;
    max-width:420px;
    font-size:1.2em;
    line-height:1.75;
}

.AIM__collection{
    background:#151515;
    border:3px solid #262626;
    border-radius:20px;
    width:100%;
    max-width:900px;
    margin-bottom:50px;
}

.AIM__collection .swiper-slide{
    width:100%;
    text-align:center;
}

.AIM__collection .swiper-slide img{
    width:60%;
}

.AIM__collection-next{
    color:#fff !important;
    right:50px !important;
}

.AIM__collection-prev{
    color:#fff !important;
    left:50px !important;
}

.AIM__collection2{
    background:#151515;
    border:3px solid #262626;
    border-radius:20px;
    width:100%;
    max-width:900px;
    margin-bottom:50px;
    margin-top:50px;
}

.AIM__collection2 .swiper-slide{
    width:100%;
    text-align:center;
}

.AIM__collection2 .swiper-slide img{
    width:60%;
}

.AIM__collection-next2{
    color:#fff !important;
    right:50px !important;
}

.AIM__collection-prev2{
    color:#fff !important;
    left:50px !important;
}

.AIM__collection__h{
    font-size:1.5em;
    font-weight:600;
    text-align:center;
    margin-bottom:40px;
}

.AIM__collection__t{
    font-size:1.2em;
    text-align:center;
    line-height:2;
}

.marquee .swiper-wrapper{
    -webkit-transition-timing-function:linear!important;
    transition-timing-function:linear!important; 
    position: relative;
}

.marquee .swiper-slide{
    width: auto !important;
    padding:0 0.5vw;
    position:relative;
}

.marquee .swiper-slide img{
    width:15vw;
}

.marquee .swiper-slide span{
    position:absolute;
    bottom:10px;
    right:5%;
    background:#000;
    line-height:1;
    padding:5px;
}

.marquee--top{
    margin-bottom:0.5vw;
}

.AIM__btns{
    display:flex;
    justify-content:center;
    align-items: center;
    padding-top:70px;
}

.AIM__btn{
    border:3px solid #262626;
    border-radius:20px;
    width:450px;
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.75em;
    text-shadow: 0px 0px 10px #006edc, 0px 0px 10px #006edc;
    background:#0c0c0c;
}

.AIM__btn--opensea:before{
    content:'';
    display:inline-block;
    width:60px;
    height:54px;
    background:url(../img/opensea-icon.png) no-repeat;
    background-size:contain;
    margin-right:15px;
    filter: drop-shadow(0px 0px 7px #006edc);
}

.bayc__shop{
    overflow:hidden;
    padding-bottom:100px;
    position:relative;
}

.bayc__shop .swiper-slide{
    border:2px solid #333;
    border-radius:20px;
    padding:40px;
    box-shadow:0px 0px 10px 3px #333333;
}

.bayc__shop .swiper-slide > div{
    display:flex;
    flex-direction:column;
}

.bayc__shop .swiper-slide img{
    width:100%;
}

.bayc__shop__buy{
    width:31px;
    height:29px;
    background:url(../img/shopping-icon.png);
    background-size:cover;
    margin:10px 0 4px;
}

.bayc__shop__name{
    width:100%;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow:hidden;
    font-size:1.75em;
    font-weight:600;
}

.bayc__shop__price{
    font-size:1.05em;
    font-weight:300;
    color:#ffbe0d;
}

.bayc__shop__pagination{
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    bottom:10px;
}

.bayc__shop__pagination > .swiper-pagination-bullet{
    background:#fff;
    border:2px solid #fff;
    opacity:1;
    width:12px;
    height:12px;
}

.bayc__shop__pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background:#000;
}

.AIM__games__title{
    font-size:1.5vw;
    font-family: 'ArtGalleria';
    font-weight:400;
    margin-bottom:30px;
    padding-left:15px;
}

.AIM__games__list{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:10px;
}

.AIM__games__item{
    width:100%;
}

.AIM__game__img{
    position:relative;
    margin-bottom:20px;
}

.AIM__game__img img{
    object-fit:cover;
    border-radius:15px;
    width:100%;
    box-shadow:0 0 5px 5px #222;
}

.AIM__game__img.AIM__game__img--comingSoon img{
    filter:blur(3px);
}

.AIM__game__img.AIM__game__img--comingSoon:before{
    content:'COMING SOON';
    font-family: 'ArtGalleria';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.5);
    z-index:2;
    font-size:2.5vw;
}

.AIM__game__status{
    position:absolute;
    top:-17px;
    right:30px;
    border:4px solid #000;
    border-radius:100px;
    background:#5acc23;
    color:#000;
    width:75px;
    height:34px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-shadow:0 0 10px #000;
    z-index:2;
}

.AIM__game__infos{
    display:flex;
    align-items:center;
}

.AIM__game__item__txt{
    display:flex;
    flex-direction:column;
    width:50%;
    padding:0 0 0 10px;
}

.AIM__game__item__btn{
    flex:1;
}

.AIM__game__item__btn button{
    width:100%;
    height:60px;
    border:3px solid #262626;
    border-radius:15px;
    background:#0c0c0c;
    color:#fff;
    text-shadow: 0px 0px 10px #006edc, 0px 0px 10px #006edc;
    font-size:2em;
    font-weight:600;
    cursor:pointer;
}

.AIM__game__item__btn--comingSoon button{
    color:#717171;
    text-shadow:none;
}

.AIM__game__item__title{
    font-size:1.5em;
    font-weight:600;
    color:#ffffff;
    margin-bottom:5px;
}

.AIM__game__item__description{
    font-size:1.1em;
    color:#828282;
    font-weight:300;
}

.AIM__radio{
    display:flex;
    align-items:center;
    gap:3vw;
}

.AIM__radio__visual{
    width:60%;
}

.AIM__radio__visual img{
    width:100%;
    border-radius:20px;
}

.AIM__radio__infos{
    width:40%;
    display:flex;
    flex-direction:column;
    gap:40px;
}

.AIM__radio__txt{
    font-size:1.4em;
    font-weight:300;
}

.AIM__radio__logo{
    filter:drop-shadow(0px 0px 5px rgba(255,255,255,0.65));
    width:100%;
}

.AIM__radioView__btn{
    border:2px solid #262626;
    border-radius:20px;
    padding:0 60px;
    height:70px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.75em;
    font-weight:600;
    text-shadow: 0px 0px 10px #006edc, 0px 0px 10px #006edc;
    background:#0c0c0c;
    align-self:flex-start;
}

.AIM__radioView__btn:after{
    content:'';
    display:inline-block;
    width:25px;
    height:24px;
    background:url(../img/rightArrow-icon.png) no-repeat;
    background-size:contain;
    margin-left:20px;
    filter: drop-shadow(0px 0px 7px #006edc);
}

.AIM__partners{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:50px;
}

.AIM__partners > a{
    width:26%;
    text-align:center;
}

.AIM__partners > a img{
    width:90%;
}

.AIM__history{
    position:relative;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    align-items:flex-start;
    width:100%;
    max-width:1000px;
    margin:0 auto;
}

.AIM__history:before{
    content:'';
    display:inline-block;
    width:1px;
    height:100%;
    background:#6f6f6f;
    position:absolute;
    left:50%;
    top:0;
}

.AIM__history__item{
    display:flex;
    align-items:center;
    width:50%;
}

.AIM__history__item:nth-child(1){
    padding-top:30px;
}

.AIM__history__item:nth-child(2){
    padding-top:150px;
}

.AIM__history__item:nth-child(3){
    margin-top:-50px;
}

.AIM__history__item:nth-child(4){
    padding-top:50px;
}

.AIM__history__item:nth-child(5){
    margin-top:-80px;
}

.AIM__history__item:nth-child(6){
    padding-top:50px;
}

.AIM__history__item:nth-child(7){
    margin-top:-50px;
}

.AIM__history__contents{
    display:flex;
    flex-direction:column;
    flex:1;
}

.AIM__history__picture{
    position:relative;
    border-radius:20px 20px 0 0;
    border:2px solid #1e1e1e;
    border-bottom:0;
    overflow: hidden;
    display:flex;
}

.AIM__history__picture img{
    width:100%;
}

.AIM__history__number{
    position:absolute;
    top:10px;
    font-size:4em;
    line-height:1;
    opacity:0.5;
    font-family: 'ArtGalleria';
}

.AIM__history__number.left{
    left:10px;
}

.AIM__history__number.right{
    right:10px;
}

.AIM__history__text{
    text-align:center;
    font-size:1.2em;
    font-weight:600;
    padding:10px 15%;
    background:#000;
    border:2px solid #1e1e1e;
    word-break: keep-all;
    border-radius:0 0 20px 20px;
}

.AIM__history__border{
    width:2vw;
    height:2vw;
    position:relative;
}

.AIM__history__border.bottom{
    border-bottom:2px solid #1e1e1e;
}

.AIM__history__border.left{
    border-left:2px solid #1e1e1e;
}

.AIM__history__border.top{
    border-top:2px solid #1e1e1e;
}

.AIM__history__border.rightTopDot:after{
    content:'';
    display:inline-block;
    width:20px;
    height:20px;
    border-radius:20px;
    background:#fff;
    position:absolute;
    right:-10px;
    top:-10px;
}

.AIM__history__border.leftBottomDot:after{
    content:'';
    display:inline-block;
    width:20px;
    height:20px;
    border-radius:20px;
    background:#fff;
    position:absolute;
    left:-10px;
    bottom:-10px;
}

.AIM__history__item--RichardLee{
    padding:50px 0 50px 4vw;
}

.AIM__history__item--RichardLee > div{
    display:flex;
    align-items:flex-end;
}

.AIM__history__item--RichardLee img{
    width:150px;
    height:150px;
    margin-right:20px;
    border-radius:10px;
}

.AIM__history__item--RichardLee span{
    font-family: 'ArtGalleria';
    font-size:2.4em;
    position:relative;
    padding-top:10px;
}

.AIM__history__item--RichardLee span:before{
    content:'';
    display:inline-block;
    width:30px;
    height:5px;
    background:#5e5e5e;
    border-radius:30px;
    position:absolute;
    top:0;
    left:0;
}

.AIM__advisor{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:3vw;
}

.AIM__advisor > div{
    width:40%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.AIM__advisor ul{
    list-style: none;
    width:80%;
}

.AIM__advisor ul li{
    margin-bottom:5px;
    font-size:1.1em;
    word-break: keep-all;
    padding-left:15%;
}

.AIM__advisor > div img{
    width:100%;
    max-width:273px;
}

.AIM__advisor__name{
    margin:20px 0;
    background:#161616;
    border:2px solid #373737;
    border-radius:20px;
    width:100%;
    max-width:260px;
    padding:15px 0;
    font-size:1.2em;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.AIM__advisor__name strong {
    font-size:0.95em;
}

.AIM__links{
    padding-bottom:200px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:30px;
}

.AIM__links > a{
    width:calc(33% - 20px);
    text-align:center;
    background:url(../img/links-btn-bg.png) no-repeat, linear-gradient(to bottom, #333333 0%, #dedbdb 32%, #333333 63%, #eeeeee 80%, #7e7c7c 100%);
    background-size:cover;
    color:#000;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    align-self: stretch;
    font-size:1.3em;
    height:100px;
    border: 3px solid transparent;
    border-radius:20px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-weight:600;
}

.AIM__links > a strong{
    font-size:0.8em;
    font-weight:300;
}

.footer{
    padding:100px 0;
    background:#0d0d0d;
}

.footer__info{
    display:flex;
    flex-direction:column;
    align-items:center;
    color:#858585;
    gap:10px;
}

.footer__contactUs{
    font-family: 'ArtGalleria';
    font-size:3.4em;
    font-weight:400;
    margin-bottom:20px;
    color:#a7a7a7;
}

.footer__copyrights{
    margin-top:20px;
}

@media (max-width: 1200px){
    .AIM__section{
        padding:10vh 0 5vh;
    }

    .AIM__title{
        font-size:7vw;
    }

    .AIM__title:after{
        width:50px;
        height:6px;
        margin:40px 0;
    }

    .about-AIM__description{
        flex-direction:column;
        gap:20px;
    }

    .about-AIM__v{
        align-items:center;
        max-width:100%;
    }

    .about-AIM__t{
        align-items:center;
        max-width:100%;
        padding:0 20px;
        word-break:break-all;
    }

    .AIM__collection__h{
        font-size:1.25em;
    }

    .AIM__collection__t{
        word-break: keep-all;
        text-align:center;
        font-size:1.05em;
    }

    .AIM__collection__t br{
        display:none;
    }

    .about-AIM__BAYC__logo{
        max-width:500px;
    }

    .AIM__title img{
        width:50%;
        min-width:300px;
    }

    .marquee .swiper-slide img{
        width:22vw;
    }

    .AIM__btn{
        border-width: 2px;
        font-size:1.3em;
        width:80%;
        height:80px;
    }

    .AIM__btn--opensea:before{
        width:40px;
        height:40px;
    }

    .bayc__shop{
        padding-bottom:70px;
    }

    .AIM__radio{
        flex-direction: column;
        padding-bottom:80px;
    }

    .AIM__radio__visual{
        width:100%;
    }

    .AIM__radio__infos{
        width:100%;
    }

    .AIM__radio__txt{
        text-align:center;
    }

    .AIM__radio__logo{
        width:90%;
        margin:0 auto;
    }

    .AIM__radioView__btn{
        font-size:1.3em;
        align-self:center;
    }

    .AIM__partners{
        align-items:center;
        justify-content:center;
        flex-wrap:wrap;
        gap:30px;
    }
    
    .AIM__partners > a{
        width:40%;
    }

    .mainSlider{
        overflow:hidden !important;
    }

    .mainSlider .swiper-pagination{
        display:none;
    }

    .mainSlider-prev{
        display:none !important;
    }

    .mainSlider-next{
        display:none !important;
    }
}

@media (max-width: 900px){
    .AIM__advisor{
        gap:5vh;
    }

    .AIM__advisor > div{
        width:70%;
    }

    .AIM__advisor ul{
        width:100%;
    }

    .AIM__advisor ul li{
        padding:0;
        text-align:center;
    }
}

@media (max-width: 900px){
    .AIM__games__item{
        width:100%;
    }

    .AIM__game__item__txt{
        width:60%;
    }

    .AIM__game__item__btn button{
        font-size:1.4em;
        height:50px;
        letter-spacing: -1px;
    }

    .AIM__links{
        padding-bottom:80px;
        justify-content: flex-start;
        gap:20px;
    }
    
    .AIM__links > a{
        width:calc(50% - 10px);
        font-size:1.1em;
    }
}

@media (max-width: 650px){
    .AIM__history{
        justify-content:center;
        gap:50px;
    }

    .AIM__history__item{
        width:90%;
        padding:0 !important;
        margin:0 !important;
        z-index:2;
    }

    .AIM__history__border{
        display:none;
    }

    .AIM__history__item--RichardLee{
        background:#000;
        justify-content:center;
        padding-top:20px !important;
    }

    .AIM__advisor > div{
        width:90%;
    }

    .AIM__links > a{
        width:100%;
        height:80px;
    }
}